#about {
  width: 100%;
  position: relative;
}
#about h1 {
  font-family: "Big Noodle Too,impact,sans-serif";
  text-align: center;
  font-style: italic;
  color: #4c535d;
}
@media only screen and (min-width: 1279px) {
  #about {
    height: 150px;
    padding: 90px 0 20px 0;
    background: url(../imgs/bg-desktop-a551c87052.jpg);
  }
  #about h1 {
    font-size: 55px;
    margin-top: 40px;
  }
  #about-bar {
    display: flex;
  }
  #about-logo {
    display: inline-block;
    min-width: 54px;
    height: 50px;
    background-color: #353b41;
    position: relative;
    transition: 0.1s background-color;
  }
  #about-logo:hover {
    background-color: #262a2d;
  }
  #about-logo svg {
    width: 40px;
    height: 37px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 6.5px auto;
  }
  #about-bar {
    box-sizing: border-box;
    width: 100%;
    padding: 0 20px;
    height: 50px;
    line-height: 50px;
    font-family: FuturaNo2D, "Century Gothic", AppleGothic, sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #4c535d;
    position: absolute;
    top: 40px;
    z-index: 1;
    transition: 0.2s width;
  }
  #about-bar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 20px;
    width: 95%;
    height: 50px;
    box-sizing: border-box;
    background-color: #f2f1ed;
    z-index: -1;
    transition: 0.35s all;
  }
  #about-bar.fixed {
    position: fixed;
    top: 0;
  }
  #about-bar.fixed::before {
    width: 100%;
    left: 0;
  }
  #about-bar .devide-line {
    background-color: #f2f1ed;
    height: 50px;
  }
  #about-bar .devide-line > span {
    display: inline-block;
    position: relative;
    width: 1px;
    height: 30px;
    background-color: #e5e3dc;
    top: 10px;
  }
  #about-bar > .about-bar-item {
    background-color: #f2f1ed;
    padding: 0 20px;
    cursor: pointer;
    transition: 0.3s color;
    text-align: center;
    display: flex;
    justify-content: space-around;
  }
  #about-bar > .about-bar-item > i {
    float: left;
  }
  #about-bar #occupy {
    width: 40%;
    background-color: #f2f1ed;
  }
  #about-bar #about-buy-btn {
    min-width: 134.225px;
    font-size: 20px;
    background-color: #e77327;
    color: #fff;
    padding: 0;
    transition: 0.1s background-color;
  }
  #about-bar #about-buy-btn:hover {
    border-bottom: none;
    background-color: #e66512;
  }
  #about-bar > .about-bar-item > i {
    position: relative;
    left: 3px;
    font-size: 14px;
    vertical-align: middle;
  }
  #about-bar > div.selected {
    border-bottom: 3.5px solid #e66512;
  }
  #about-bar > .about-bar-item:hover {
    border-bottom: 3.5px solid #e66512;
    color: #e66512;
  }
}

@media only screen and (max-width: 1279px) {
  #about-bar {
    display: none;
  }
  #about h1 {
    font-size: 50px;
    padding: 25px 20px;
    height: 50px;
    line-height: 50px;
    background: url(../imgs/bg-desktop-a551c87052.jpg);
  }
}

@media only screen and (max-width: 639px) {
  #about h1 {
    height: 32px;
    line-height: 32px;
    font-size: 22px;
  }
}
