#crossPlay-wrapper{
  display: flex;
  width: 100%;
  min-height: 300px;
}
#crossPlay-content{
  background-image: url('../imgs/crossplay-about-banner-half-c9df9d6528.jpg');
  width: 48%;
  position: relative;
}
#crossPlay-platform{
  width: 52%;
  position: relative;
  left: -1px;
  background-color: #F6F6F6;
}
#crossPlay-logoWrapper{
  width: 300px;
  height: 230px;
  padding: 35px 0;
  position: absolute;
}
#crossPlay-logo{
  background-image: url('../imgs/CrossPlay-Logo-en_US-e034f6c006.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 300px;
  height: 170px;
}
#crossPlay-btn{
  width: 200px;
  color: #fff;
  background-color: #EB682B;
  font-weight: bold;
  text-align: center;
  transition: .1s all;
  cursor: pointer;
  margin: 20px auto;
}
#crossPlay-btn:hover{
  background-color: #F96414;
  transform: scale(1.01);
}
#crossPlay-platform-items{
  display: grid;
  width: 390px;
  grid-template-columns: 170px 200px;
  grid-template-rows: 50px 50px;
  gap: 50px;
  row-gap: 20px;
}
.crossPlay-platform-item > svg{
  width: 170px;
  height: 50px;
}

@media only screen and (min-width: 1279px){
  #crossPlay-content{
    background-size: cover;
    background-position: right;
  }
  #crossPlay-btn{
    height: 45px;
    line-height: 45px;
    font-size: 18px;
  }
  #crossPlay-logoWrapper{
    left: auto;
    right: 250px;
  }
  #crossPlay-platform-items{
    margin: 100px 0 0 15px;
  }
}

@media only screen and (max-width: 1279px){
  #crossPlay-content{
    background-size: 320%;
    background-repeat: no-repeat;
    background-position: center;
  }
  #crossPlay-logoWrapper{
    left: auto;
    right: 40px;
  }
  #crossPlay-btn{
    height: 36px;
    line-height: 36px;
    font-size: 14px;
  }
  #crossPlay-platform-items{
    margin: 100px auto;
  }
}

@media only screen and (max-width: 959px){
  #crossPlay-content{
    background-size: cover;
  }
  #crossPlay-logoWrapper{
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  #crossPlay-platform-items{
    display: grid;
    width: 160px;
    grid-template-columns: 160px;
    grid-template-rows: repeat(4, 30px);
    row-gap: 10px;
    margin: 80px auto;
  }
  #crossPlay-logo{
    background-size: contain;
    background-position: center;
    width: 220px;
    height: 140px;
    margin: 0 auto;
  }
  .crossPlay-platform-item > svg{
    width: 170px;
    transform: scale(0.72);
  }
}

@media only screen and (max-width: 639px){
  #crossPlay-wrapper{
    display: flex;
    flex-wrap: wrap;
  }
  #crossPlay-content{
    width: 100%;
    height: 195px;
    padding: 35px 10px;
    background-size: 300%;
  }
  #crossPlay-logoWrapper{
    height: auto;
    padding: 0;
  }
  #crossPlay-platform{
    width: 100%;
    height: 235px;
  }
  #crossPlay-platform-items{
    margin: 45px auto;
  }
}