@media only screen and (min-width: 1279px) {
  #topbar {
    width: 100%;
    padding: 0 40px;
    box-sizing: border-box;
    height: 40px;
    line-height: 40px;
    background-color: #0b0d12;
    color: #b6b7b8;
    text-align: center;
    font-size: 14px;
  }
  #topbar svg {
    float: left;
    width: 62px;
    height: 40px;
  }
  #topbar-items {
    float: left;
    margin-left: 30px;
  }
  #topbar-items > div {
    float: left;
    margin-right: 30px;
  }
  #topbar-items > div.selected {
    color: #fff;
  }
  #topbar-profileItems {
    float: right;
  }
  #topbar-profileItems > div {
    float: right;
    margin-left: 30px;
  }
  #topbar-items > div,
  #topbar-profileItems > div {
    cursor: pointer;
    transition: 0.3s color;
  }
  #topbar-items > div:hover,
  #topbar-profileItems > div:hover {
    color: #fff;
  }
  #account:hover {
    color: #b6b7b8 !important;
  }
  #account-btn {
    transition: 0.3s color;
    display: block;
  }
  #games-btn{
    display: block;
  }
  #account-btn:hover {
    color: #fff;
  }
  #topbar-items > div  i,
  #topbar-profileItems > div  i {
    font-size: 12px;
    color: #57585c;
    vertical-align: middle;
    transition: 0.3s color;
  }
  #topbar-items > div:hover  i,
  #topbar-profileItems > div:hover  i {
    color: #858689;
  }
  #topbar .Navbar-svgLogoAlternate {
    fill: #399ae5;
  }
  #topbar svg:hover .Navbar-svgLogoAlternate {
    fill: #4ac4ff;
  }
  #topbar-mobile {
    display: none;
  }
}

@media only screen and (max-width: 1279px) {
  #topbar {
    display: none;
  }
  #topbar-mobile {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
    height: 48px;
    line-height: 48px;
  }
  #topbar-mobile > i {
    font-size: 24px;
    color: #41aeff;
    cursor: pointer;
  }
  #topbar-mobile > i:nth-child(1) {
    color: #363c42;
  }
  #topbar-mobile > i:nth-child(3):hover {
    color: #00c6ff;
  }
  #topbar-mobile-logo {
    display: inline-block;
    width: 36px;
    height: 36px;
    position: relative;
    top: 6px;
  }
  #topbar-mobile-logo path:nth-child(2) {
    fill: #363c42;
  }
}
